.result {
  color: #323232;
  background: #fff;
  border-radius: 0.5rem;
  // margin-top: 4rem;
  // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
  font-size: 2rem;
  text-align: center;
  max-width: 60rem;
  margin: 4rem auto 2rem;
}

.error {
  padding: 5rem;
}

